#!/usr/bin/make -f

BUILD_DIR=$(CURDIR)/build/
DESTDIR=$(CURDIR)/debian/findjava
GOCACHE=$(BUILD_DIR)/gocache

%:
	dh $@

override_dh_auto_clean:
	cd $(CURDIR) && make clean

override_dh_auto_test:
	cd $(CURDIR) && mkdir -p "$(GOCACHE)" && GOCACHE="$(GOCACHE)" GO_TAGS="-tags linux" make test

override_dh_auto_build:
	cd $(CURDIR) && mkdir -p "$(GOCACHE)" && GOCACHE="$(GOCACHE)" GO_TAGS="-tags linux" make test build

override_dh_auto_install:
	mkdir -p $(DESTDIR)/usr/bin
	mkdir -p $(DESTDIR)/usr/share/findjava
	mkdir -p $(DESTDIR)/usr/share/findjava/metadata-extractor/
	mkdir -p $(DESTDIR)/etc/findjava
	ln -s ../../usr/share/findjava/findjava $(DESTDIR)/usr/bin/findjava
	install -p -m 755 $(BUILD_DIR)/go/findjava $(DESTDIR)/usr/share/findjava/findjava
	install -p -m 644 $(BUILD_DIR)/classes/JvmMetadataExtractor.class $(DESTDIR)/usr/share/findjava/metadata-extractor/JvmMetadataExtractor.class
	install -p -m 644 $(CURDIR)/packaging/debian/config.conf $(DESTDIR)/etc/findjava
