#!/usr/bin/make -f

ANT=ant -f $(CURDIR)/src/packaging/debian/build.xml
BUILD_DIR=$(CURDIR)/build/
DESTDIR=$(CURDIR)/debian/jvm-finder

%:
	dh $@

override_dh_auto_clean:
	cd $(CURDIR) && make clean

override_dh_auto_build:
	cd $(CURDIR) && make test build

override_dh_auto_install:
	mkdir -p $(DESTDIR)/usr/bin
	mkdir -p $(DESTDIR)/usr/share/jvm-finder
	mkdir -p $(DESTDIR)/usr/share/jvm-finder/metadata-extractor/
	mkdir -p $(DESTDIR)/etc/jvm-finder
	ln -s ../../usr/share/jvm-finder/jvm-finder $(DESTDIR)/usr/bin/jvm-finder
	install -p -m 755 $(BUILD_DIR)/go/jvm-finder $(DESTDIR)/usr/share/jvm-finder/jvm-finder
	install -p -m 644 $(BUILD_DIR)/classes/JvmMetadataExtractor.class $(DESTDIR)/usr/share/jvm-finder/metadata-extractor/JvmMetadataExtractor.class
