#!/usr/bin/make -f

BUILD_DIR=$(CURDIR)/build/
DESTDIR=$(CURDIR)/debian/findjvm
GOCACHE=$(BUILD_DIR)/gocache

%:
	dh $@

override_dh_auto_clean:
	cd $(CURDIR) && make clean

override_dh_auto_test:
	cd $(CURDIR) && mkdir -p "$(GOCACHE)" && GOCACHE="$(GOCACHE)" GO_TAGS="-tags linux" make test

override_dh_auto_build:
	cd $(CURDIR) && mkdir -p "$(GOCACHE)" && GOCACHE="$(GOCACHE)" GO_TAGS="-tags linux" make test build

override_dh_auto_install:
	mkdir -p $(DESTDIR)/usr/bin
	mkdir -p $(DESTDIR)/usr/share/findjvm
	mkdir -p $(DESTDIR)/usr/share/findjvm/metadata-extractor/
	mkdir -p $(DESTDIR)/etc/findjvm
	ln -s ../../usr/share/findjvm/findjvm $(DESTDIR)/usr/bin/findjvm
	install -p -m 755 $(BUILD_DIR)/go/findjvm $(DESTDIR)/usr/share/findjvm/findjvm
	install -p -m 644 $(BUILD_DIR)/classes/JvmMetadataExtractor.class $(DESTDIR)/usr/share/findjvm/metadata-extractor/JvmMetadataExtractor.class
	install -p -m 644 $(CURDIR)/packaging/debian/config.conf $(DESTDIR)/etc/findjvm
